* {
  margin: 0px;
}
body {
  background-color: darkgray;
}

.secao-inicial {
  background-image: url("tattoos/Design.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: aliceblue;
  text-align: center;
  min-height: 100vh; /*min-height quer dizer q no minimo ela vai ocupar a tela interia*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secao-inicial h1 {
  font-size: 4rem;
}
.secao-inicial p {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
#botao-agendar {
  margin-top: 1rem;
  background-color: darkred;
  color: aliceblue;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  z-index: 10; /*usei pra por a nav acima da imagem de bg*/
  position: absolute; /*usei pra por a nav acima da imagem de bg*/
  margin-top: 2rem;
  flex-wrap: wrap;
}

#posicao-nav {
  display: flex;
  justify-content: center; /*use pra por a nav no centro*/
}

.nav-container a {
  text-decoration: none;
  font-size: 1.5rem;
  color: aliceblue;
}

/*apresentaçao*/

#foto-artista img {
  max-width: 400px;
  width: 100%;
  border-radius: 3rem;
}
#texto-apresentacao {
  max-width: 550px;
  font-size: 1.6rem;
}
#texto-apresentacao h2 {
  margin-bottom: 2rem;
}
.apresentacao-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 3rem;
}

/*Estilos*/

#estilos img {
  max-width: 350px;
  width: 100%;
  border-radius: 3rem;
}
#estilos h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 7rem;
}

.fineline p,
.blackwork p,
.anime p,
.versatilidade p {
  max-width: 550px;
  font-size: 1.6rem;
}

.fineline,
.blackwork,
.anime,
.versatilidade {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
  gap: 2.5rem;
  margin-top: 5rem;
}

.fineline h2,
.blackwork h2,
.anime h2,
.versatilidade h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/*diferecial*/

.diferencial-container img {
  max-width: 300px;
  max-height: 0 auto;
  border-radius: 3rem;
}
.diferencial-container p {
  max-width: 800px;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.dif-img-1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.dif-img-2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}

.dif-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.dif-txt h2 {
  font-size: 2.5rem;
}

/* media Q*/

@media (max-width: 768px) {
  .nav-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .secao-inicial p,
  h1,
  a {
    margin: 30px 20px;
    gap: 40px;
  }

  .apresentacao-container {
    flex-direction: column;
  }
  #foto-artista {
    max-width: 90%;
  }

  #texto-apresentacao {
    text-align: center;
    max-width: 90%;
  }

  #estilos h1 {
    margin-top: 70px;
  }

  #estilos {
    margin: 10px 5px;
  }

  .fineline,
  .blackwork,
  .anime,
  .versatilidade {
    flex-direction: column;
    margin: 70px 20px;
  }

  .fineline p,
  .blackwork p,
  .anime p,
  .versatilidade p {
    max-width: 90%;
    margin: 0 auto;
  }

  .fineline h2,
  .blackwork h2,
  .anime h2,
  .versatilidade h2 {
    text-align: center;
  }
  .dif-img-1,
  .dif-img-2 {
    flex-direction: column;
    align-items: center;
    margin-top: 0.6rem;
  }

  .dif-txt {
    margin: 0 1.5rem;
  }
}
